<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% load widget_tweaks %}

<html>
  <head>
    <title>Envision Training</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel = "stylesheet" type="text/css" href="{%  static "styles.css" %}">
    <link rel = "bootstrap" type="text/css" href="{%  static "bootstrap.css" %}">
    <link rel = "bootstrap" type="text/css" href="{%  static "bootstrap.min.css" %}">
    <link rel = "bootstrap" type="text/css" href="{%  static "bootstrap-theme.css" %}">
    <link rel = "bootstrap" type="text/css" href="{%  static "bootstrap-theme.min.css" %}">
  </head>
  <body>
      <div class = "jumbotron jumbo-green">
          <h1 class = 'paddin1'>Welcome to the Envision Case Study Training Program!</h1>
          <p class = 'paddin2'>The purpose of this training is to provide real-world examples of how The Envision Rating System for Sustainable Infrastructure is used to design and assess infrastructure projects. Below is a case study about Phoenix, AZ. To begin the training read through the documentation.</p>
      </div>
      <div style="text-align: center">
        <h2>Watch this short video to learn how to use the Envision Rating System.</h2>
        <div style="text-align: center">
    <!-- Copy & Pasted from YouTube -->
            <iframe width="700" height="520" src="https://www.youtube.com/embed/MbDmIOjuvl0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
    <div class = "container">
        <div class = "jumbotron">
            <h2><u>Request For Proposal</u></h2>
            <h2>Recreational Park and Holding Facility for Reclaimed Wastewater</h2>
            <p>The local city government hired your firm to construct a new recreational park. The purpose of the park is dual purpose, to redevelop an existing underused site and hold treated wastewater. The treated wastewater does not meet standards for drinking, but it can help replenish depleting ground aquifers. You should act as the sustainability engineer: review the project's scope of work and recommend how sustainability credits from the Envision rating system could be achieved. For each credit, if you select a level of achievement above zero, please include a short explanation.</p>
            <div class = "row">
                <div class = "col-md-6 col">
                <img src={% static "images/urban-view.jpg" %} />
                </div>
                <div class = "col-md-6 col">
                <img src={% static "images/rendering_overhead.jpg" %} />
                </div>
            </div>
      <div class = "row">
        <div class = "col-md-12 col">
                <h3>Purpose</h3>
                <p>This region of the country is arid. Local freshwater supplies are limited and only with large capital expenditure. Large quantities of freshwater can be saved by wastewater reuse and recycling, reducing environmental pollution and improving carbon footprint. Reuse can be an alternative water supply option. The purpose of this project is to construct a facility to hold reclaimed wastewater. The reclaimed water is meant to help replenish the groundwater aquifers. </p>
                <h3>Project Details</h3>
                <p>The 9-acre park will help transform an underutilized part of the city and provide a "green" space for residents. The park will also serve to hold and treat reclaimed wastewater and stormwater. This reclaimed water will provide irrigation to the facility and help replenish ground aquifers that are receding at an unprecedented rate. Below is a list of aspects the project should provide:</p>
                <ul>
                    <li>Multi-purpose fields and walking trails</li>
                    <li>Adjacent parking lots</li>
                    <li>Restroom and community facilities</li>
                    <li>Landscaping to treat water and provide shading</li>
                    <li>Reclaimed wastewater holding facility for 680,000 gallons per day</li>
                    <li>Preserving and restoring existing habitats and important natural resources</li>
                    <li>Locally sourced materials</li>
                </ul>
            <h3>Rendering</h3>
            <img src={% static "images/sitelayout.png" %} />
            <p>The project will include construction of trails, two pedestrian bridge structures over the water, interpretive signs, picnic and seating areas, an asphalt or concrete parking area, and firelane around the south building. The south building will be renovated in the future and used as a community center for the park.</p>
            <h3>Current Phase</h3>
            <img src={% static "images/LACMA.jpg" %} />
            <p>The water will enter an on-site pre-treatment unit and a new pump station that will pump the water through two new force main pipelines along the north side of the site to the east side of the site. Water will exit the pipelines at the east side of the site through a water feature and submerged manifold headworks. Water will flow westward across the landscape zones.</p>
        </div>
        <!--<div class = "col-md-4">-->
            <!--<p class="front-image-desc">The site includes a floodplain and wetlands as part of the stream that needs repairing. You can add protective buffer zones to enhance and restore the waterbody.-->
            <!--<br><br>Exact details about what to include in the park (e.g. stream restoration, education facility, wildlife habitat, nature trails, bike paths) are up to you.</p>-->
        <!--</div>-->
      </div>
    <div>
        <p><b>These details will be provided again for you on the following page as you begin the Envision training.</b></p>
    </div>
    </div>
    </div>
      <div class = "jumbotron jumbo-green">
        <h1 class = 'paddin1'>Begin the Training!</h1>
        <form class ='paddin1' method="POST" action="{% url 'engineer_add' %}">
            {% csrf_token %}
            <h3 class = 'paddin3'>Name: {{ form.name }}</h3>
            <p class = 'paddin5'>Can we include your results in this research study? {{ form.research }} </p>
            <div class = 'paddin4'>
                <a href={% static "details/irb/index.html" %} target="_blank">Research details are provided here.</a>
            </div>
            <div class = 'paddin4'>
                <input type="submit" value="Get Started!" class = "btn btn-primary btn-lg" />
            </div>
        </form>
      </div>
    <script src = "http://ajax.googleapis.com/ajax/libs/jquery/2.1.4//jquery.min.js"></script>
    <script src = "js/bootstrap.js"></script>
  </body>
</html>
