<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% load widget_tweaks %}

<html>
  <head>
    <title>Envision Training</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel = "stylesheet" type="text/css" href="{%  static "styles.css" %}">
    <link rel = "bootstrap" type="text/css" href="{%  static "bootstrap.css" %}">
    <link rel = "bootstrap" type="text/css" href="{%  static "bootstrap.min.css" %}">
    <link rel = "bootstrap" type="text/css" href="{%  static "bootstrap-theme.css" %}">
    <link rel = "bootstrap" type="text/css" href="{%  static "bootstrap-theme.min.css" %}">
  </head>
  <body>
      <div class = "jumbotron jumbo-green">
          <h1 class = 'paddin1'>Welcome to the Envision Case Study Training Program!</h1>
          <p class = 'paddin2'>The purpose of this training is to provide real-world examples of how The Envision Rating System for Sustainable Infrastructure is used to design and assess infrastructure projects. Below is a case study about Cordova, AL. To begin the training read through the documentation. </p>
      </div>
    </div>
    <div class = "container">
        <div class = "jumbotron">
            <h1>Phoenix, AZ</h1>
            <p>The city of Phoenix, AZ hired your firm to construct a new park. You should act as the sustainability engineer. Review the project's scope of work and recommend how sustainability credits from the Envision rating system could be achieved. For each credit, if you select a level of achievement pleas include a short explanation. The higher the level of achievement the longer the explanation required.</p>
            <img src={% static "images/map.png" %} />
      <div class = "row">
        <div class = "col-md-8 col">
          <h3>Scope of Work and Deliverables</h3>
          <p>Below is a list of all the aspects that are part of the project design also illustrated in Figure 2.</p>
          <ul>
              <li>A 17.9-acre park with recreational amenities</li>
              <li>An 8-foot wide trail</li>
              <li>Fenced-in dog parks</li>
              <li>A multi-purpose playing field</li>
              <li>Two new parking lots</li>
              <li>Picnic shelters</li>
              <li>A playground with benches</li>
              <li>Restroom facilities</li>
              <li>Associated landscaping</li>
              <li>Storm-water management</li>
              <li>Preserving existing habitats and important natural resources</li>
              <li>Locally sourced materials</li>
          </ul>
          <img src={% static "images/site_layout.png" %} />
        </div>
        <!--<div class = "col-md-4">-->
            <!--<p class="front-image-desc">The site includes a floodplain and wetlands as part of the stream that needs repairing. You can add protective buffer zones to enhance and restore the waterbody.-->
            <!--<br><br>Exact details about what to include in the park (e.g. stream restoration, education facility, wildlife habitat, nature trails, bike paths) are up to you.</p>-->
        <!--</div>-->
      </div>
    <div>
        <h2>Watch this 3 minute video to learn how to use Envision Rating System.</h2>
        <div class="videoWrapper">
    <!-- Copy & Pasted from YouTube -->
            <iframe width="420" height="315" src="https://www.youtube.com/embed/JxM_TVQKijI" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    </div>
    </div>
      <div class = "jumbotron jumbo-green">
        <h1 class = 'paddin1'>Begin the Training!</h1>
        <form class ='paddin1' method="POST" action="{% url 'engineer_add' %}">
            {% csrf_token %}
            <h3 class = 'paddin3'>Name: {{ form.name }}</h3>
            <p class = 'paddin5'>Can we include your results in this research study? {{ form.research }} </p>
            <div class = 'paddin4'>
                <a href={% static "details/irb/index.html" %} target="_blank">Research details are provided here.</a>
            </div>
            <div class = 'paddin4'>
                <input type="submit" value="Get Started!" class = "btn btn-primary btn-lg" />
            </div>
        </form>
      </div>
    <script src = "http://ajax.googleapis.com/ajax/libs/jquery/2.1.4//jquery.min.js"></script>
    <script src = "js/bootstrap.js"></script>
  </body>
</html>
