
        <!DOCTYPE html>
        {% load staticfiles %}
        {% load bootstrap3 %}

        {# Load CSS and JavaScript #}
        {% bootstrap_css %}
        {% bootstrap_javascript %}

        {# Display django.contrib.messages as Bootstrap alerts #}
        {% load widget_tweaks %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="{%  static "rating.js" %}"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
                <link rel = "stylesheet" type="text/css" href="{%  static "styles.css" %}">


        <html>
        <head lang="en">
                <meta charset="UTF-8">
                <title>Rating Form</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <div class = "navbar navbar-default navbar-fixed-top">
                <ul class="nav navbar-nav">
                <li class ="navbar-brand">Envision Rating System</li>
        <li class="navbar-brand" style="color:black">Total Score: <span id="total-selected">0</span></li>
        <li class="navbar-brand" style="color:black">Points Possible: <span id="total-possible">0</span></li>
        </ul>
        </div>
        </head>
        <body>
        <div id="modal">
                <div class="modalcontent">
                <h1>Instructions Before You Get Started!</h1>
        <p>Before selecting a level of achievement read the INTENT of each credit carefully. Also, each of the credits contains a set of evaluation criteria, listed in the "details/guidance" link.</p>
        <button id="button">Close</button>
                </div>
                </div>
        <div class="container">
        <div class = "jumbotron">
            <h2>Project Details</h2>
                <p>The park will serve to hold and treat reclaimed waste water. This reclaimed water will provide irrigation to the facility and help replenish ground aquifers that are receding at an unprecedented rate. As you make recommendations as the sustainability engineer keep in mind what should be included:</p>
                 <ul>
                    <li>Multi-purpose fields and walking trails</li>
                    <li>Adjacent parking lots</li>
                    <li>Restroom and community facilities</li>
                    <li>Landscaping to treat water and provide shading</li>
                    <li>Reclaimed wastewater holding facility for 680,000 gallons per day</li>
                    <li>Preserving and restoring existing habitats and important natural resources</li>
                    <li>Locally sourced materials</li>
                </ul>
            <p><b>Please act as the sustainability engineer and review the following Envision credits. You should decide which credits are applicable and what level of achievement should the team strive to meet. Include an explanation/notes in the text box for each credit.</b></p>
            <p>There are 15 credits. This should not take you more than one hour!<p>
        </div>
                </div>
                {#BELOW CHANGES BASED ON VERSION 0/1/2#}
        <form id="happy-form" class="navbar-form navbar-center" method="POST" action="{% url 'engineer_detail' engineer.pk %}">
                {% csrf_token %}
        <div class = "headerbox">
                <div class = "resource">
                <h3 class="category-title">Resource Allocation</h3>
        </div>
        </div>
{#STARTS RA1.1#}
<div class="container bigbox">
    <div class="row">
        <div class="col-md-1">
            <h5 class="ra">RA1.1:</h5>
        </div>
        <div class="version-one">
            <h4 class="col-md-5 ra-title">Reduce Energy Intensity of Materials</h4>
        </div>
        <div class="version-two">
            <h4 class="col-md-5 ra-title">Reduce Cost by Reducing Energy Intensity of Materials</h4>
        </div>
        <div>
            <h5 class="col-md-2 left"> {{ rating_form.RA1_1_inc }}</h5>
            <h5 class="col-md-2 left"> {{ rating_form.RA1_1_loa }}</h5>
        </div>
        <div class="col-md-1 box-yellow">
            <h4 class="selected-points" id="ra11-selected-points">0</h4>
        </div>
        <div class="col-md-1 box-white">
            <h4 class="possible-points" id="ra11-possible-points">0</h4>
        </div>
    </div>
    <div class="row">
        <div class='col-md-1'>
            <h4 class='version-one ra'>Intent:</h4>
            <h4 class='intent version-two'>INTENT:</h4>
        </div>
        <div class="version-one">
            <div class="col-md-5 intent-textbox-1">
                <p>Reduce the impacts of material use over the project life by using less material or specifying materials with lower net embodied energy from extraction, refinement/manufacture, and transport.</p>
                <a href={% static "details/control/RA1.1/index.html" %} target="_blank">More detail and guidance</a>
            </div>
        </div>
        <div class="version-two">
            <div class="col-md-5 intent-textbox-2">
                <h5>Reduce transportation costs over the project life by using less material that requires transportation from the manufacturer to the site.</h5>
                <a href={% static "details/negative_goal_framing/RA1.1/index.html" %} target="_blank">More detail and guidance</a>
            </div>
        </div>
        <div class="col-md-6">
            {{ rating_form.RA1_1_exp |attr:"rows:4" }}
            <br>Count: <span class="current-count" id="span-1">0</span> | Required: <span id="ra11" class="required-count">0</span>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-6'></div>
        <p class='col-md-4 textbox2'>Over the project <b>life cycle</b> your recommendation will cost or save the owner money?</p>
        <h5 class="col-md-2">{{ rating_form.RA1_1_cost }}</h5>
    </div>
</div>
{#STARTS RA1.2#}
<div class="container bigbox">
    <div class="row">
        <div class="col-md-1">
            <h5 class="ra">RA1.2:</h5>
        </div>
        <div class="version-one">
            <h4 class="col-md-5 ra-title">Support Sustainable Procurement Practices</h4>
        </div>
        <div class="version-two">
            <h4 class="col-md-5 ra-title">Protect Human Health by Supporting Sustainable Procurement Practices</h4>
        </div>
        <div>
            <h5 class="col-md-2 left"> {{ rating_form.RA1_2_inc }}</h5>
            <h5 class="col-md-2 left"> {{ rating_form.RA1_2_loa }}</h5>
        </div>
            <div class="col-md-1 box-yellow">
                <h4 class="selected-points" id="ra12-selected-points">0</h4>
            </div>
            <div class="col-md-1 box-white">
                <h4 class="possible-points" id="ra12-possible-points">0</h4>
            </div>
    </div>
    <div class="row">
        <div class='col-md-1'>
            <h4 class='version-one ra'>Intent:</h4>
            <h4 class='intent version-two'>INTENT:</h4>
        </div>
        <div class="version-one">
            <div class="col-md-5 intent-textbox-1">
                <p>Develop sustainable procurement policies and programs to source materials and equipment from manufacturers and suppliers.</p>
                <a href={% static "details/control/RA1.2/index.html" %} target="_blank">More detail and guidance</a>
            </div>
        </div>
        <div class="version-two">
            <div class="col-md-5 intent-textbox-2">
                <h5>Protect human health by developing sustainable procurement policies and programs to source materials and equipment from manufacturers and suppliers.</h5>
                <a href={% static "details/negative_goal_framing/RA1.2/index.html" %} target="_blank">More detail and guidance</a>
            </div>
        </div>
        <div class="col-md-6">
            {{ rating_form.RA1_2_exp |attr:"rows:4" }}
            <br>Count: <span class="current-count" id="span-1">0</span> | Required: <span id="ra12" class="required-count">0</span>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-6'></div>
        <p class='col-md-4 textbox2'>Over the project <b>life cycle</b> your recommendation will cost or save the owner money?</p>
        <h5 class="col-md-2">{{ rating_form.RA1_2_cost }}</h5>
    </div>
</div>
{#STARTS RA1.4#}
<div class="container bigbox">
    <div class="row">
        <div class="col-md-1">
                <h5 class="ra">RA1.4:</h5>
        </div>
        <div class="version-one">
            <h4 class="col-md-5 ra-title">Divert Operational Waste from Landfills
            </h4>
        </div>
        <div class="version-two">
            <h4 class="col-md-5 ra-title">Avoid Waste Cost by Diverting Operational Waste from Landfills
            </h4>
        </div>
        <div>
            <h5 class="col-md-2 left"> {{ rating_form.RA1_4_inc }}</h5>
            <h5 class="col-md-2 left"> {{ rating_form.RA1_4_loa }}</h5>
        </div>
            <div class="col-md-1 box-yellow">
                <h4 class="selected-points" id="ra14-selected-points">0</h4>
            </div>
            <div class="col-md-1 box-white">
                <h4 class="possible-points" id="ra14-possible-points">0</h4>
            </div>
        </div>
            <div class="row">
            <div class='col-md-1'>
                <h4 class='version-one ra'>Intent:</h4>
                <h4 class='intent version-two'>INTENT:</h4>
            </div>
                <div class="version-one">
                    <div class="col-md-5 intent-textbox-1">
                        <p>Reduce operational waste and divert waste streams from disposal to recycling and reuse.</p>
                        <a href={% static "details/control/RA1.4/index.html" %} target="_blank">More detail and guidance</a>
                    </div>
                </div>
                <div class="version-two">
                    <div class="col-md-5 intent-textbox-2">
                        <h5>Avoid extra costs by beneficially reducing and reusing operational waste and divert waste streams from disposal to recycling.</h5>
                        <a href={% static "details/negative_goal_framing/RA1.4/index.html" %} target="_blank">More detail and guidance</a>
                    </div>
                </div>
                <div class="col-md-6">
                    {{ rating_form.RA1_4_exp |attr:"rows:4" }}
                    <br>Count: <span class="current-count" id="span-1">0</span> | Required: <span id="ra14" class="required-count">0</span>
                </div>
            </div>
        <div class='row'>
        <div class='col-md-6'></div>
            <p class='col-md-4 textbox2'>Over the project <b>life cycle</b> your recommendation will cost or save the owner money?</p>
            <h5 class="col-md-2">{{ rating_form.RA1_4_cost }}</h5>
        </div>
    </div>
</div>
{#STARTS RA1.5#}
<div class="container bigbox">
    <div class="row">
        <div class="col-md-1">
                <h5 class="ra">RA1.5:</h5>
        </div>
        <div class="version-one">
            <h4 class="col-md-5 ra-title">Divert Construction Waste from Landfills
            </h4>
        </div>
        <div class="version-two">
            <h4 class="col-md-5 ra-title">Avoid Loss of Value by Diverting Construction Waste from Landfills
            </h4>
        </div>
        <div>
            <h5 class="col-md-2 left"> {{ rating_form.RA1_5_inc }}</h5>
            <h5 class="col-md-2 left"> {{ rating_form.RA1_5_loa }}</h5>
        </div>
            <div class="col-md-1 box-yellow">
                <h4 class="selected-points" id="ra15-selected-points">0</h4>
            </div>
            <div class="col-md-1 box-white">
                <h4 class="possible-points" id="ra15-possible-points">0</h4>
            </div>
        </div>
            <div class="row">
            <div class='col-md-1'>
                <h4 class='version-one ra'>Intent:</h4>
                <h4 class='intent version-two'>INTENT:</h4>
            </div>
                <div class="version-one">
                    <div class="col-md-5 intent-textbox-1">
                        <p>Divert construction waste streams from disposal to recycling and reuse.</p>
                        <a href={% static "details/control/RA1.5/index.html" %} target="_blank">More detail and guidance</a>
                    </div>
                </div>
                <div class="version-two">
                    <div class="col-md-5 intent-textbox-2">
                        <h5>Avoid losing value of recyclable materials by diverting construction waste streams from disposal to recycling and reuse.</h5>
                        <a href={% static "details/negative_goal_framing/RA1.5/index.html" %} target="_blank">More detail and guidance</a>
                    </div>
                </div>
                <div class="col-md-6">
                    {{ rating_form.RA1_5_exp |attr:"rows:4" }}
                    <br>Count: <span class="current-count" id="span-1">0</span> | Required: <span id="ra15" class="required-count">0</span>
                </div>
            </div>
        <div class='row'>
        <div class='col-md-6'></div>
            <p class='col-md-4 textbox2'>Over the project <b>life cycle</b> your recommendation will cost or save the owner money?</p>
            <h5 class="col-md-2">{{ rating_form.RA1_5_cost }}</h5>
        </div>
    </div>
</div>
{#STARTS RA1.6#}
<div class="container bigbox">
    <div class="row">
        <div class="col-md-1">
                <h5 class="ra">RA1.6:</h5>
        </div>
        <div class="version-one">
            <h4 class="col-md-5 ra-title">Balance Earthwork on Site
            </h4>
        </div>
        <div class="version-two">
            <h4 class="col-md-5 ra-title">Reduce Traffic Congestion Around Site by Balancing Earthwork on Site
            </h4>
        </div>
        <div>
            <h5 class="col-md-2 left"> {{ rating_form.RA1_6_inc }}</h5>
            <h5 class="col-md-2 left"> {{ rating_form.RA1_6_loa }}</h5>
        </div>
            <div class="col-md-1 box-yellow">
                <h4 class="selected-points" id="ra16-selected-points">0</h4>
            </div>
            <div class="col-md-1 box-white">
                <h4 class="possible-points" id="ra16-possible-points">0</h4>
            </div>
        </div>
            <div class="row">
            <div class='col-md-1'>
                <h4 class='version-one ra'>Intent:</h4>
                <h4 class='intent version-two'>INTENT:</h4>
            </div>
                <div class="version-one">
                    <div class="col-md-5 intent-textbox-1">
                        <p>Minimize the movement of soils and other excavated materials off site to reduce environmental impacts.</p>
                        <a href={% static "details/control/RA1.6/index.html" %} target="_blank">More detail and guidance</a>
                    </div>
                </div>
                <div class="version-two">
                    <div class="col-md-5 intent-textbox-2">
                        <h5>Decrease noise and congestion in the area by minimizing the movement of soils and other excavated materials off site.</h5>
                        <a href={% static "details/negative_goal_framing/RA1.6/index.html" %} target="_blank">More detail and guidance</a>
                    </div>
                </div>
                <div class="col-md-6">
                    {{ rating_form.RA1_6_exp |attr:"rows:4" }}
                    <br>Count: <span class="current-count" id="span-1">0</span> | Required: <span id="ra16" class="required-count">0</span>
                </div>
            </div>
        <div class='row'>
        <div class='col-md-6'></div>
            <p class='col-md-4 textbox2'>Over the project <b>life cycle</b> your recommendation will cost or save the owner money?</p>
            <h5 class="col-md-2">{{ rating_form.RA1_6_cost }}</h5>
        </div>
    </div>
</div>
{#STARTS RA2.2#}
<div class="container bigbox">
    <div class="row">
        <div class="col-md-1">
                <h5 class="ra">RA2.2:</h5>
        </div>
        <div class="version-one">
            <h4 class="col-md-5 ra-title">Reduce Construction Energy Consumption
            </h4>
        </div>
        <div class="version-two">
            <h4 class="col-md-5 ra-title">Reduce Breathing Problems by Reducing Construction Energy
            </h4>
        </div>
        <div>
            <h5 class="col-md-2 left"> {{ rating_form.RA2_2_inc }}</h5>
            <h5 class="col-md-2 left"> {{ rating_form.RA2_2_loa }}</h5>
        </div>
            <div class="col-md-1 box-yellow">
                <h4 class="selected-points" id="ra22-selected-points">0</h4>
            </div>
            <div class="col-md-1 box-white">
                <h4 class="possible-points" id="ra22-possible-points">0</h4>
            </div>
        </div>
            <div class="row">
            <div class='col-md-1'>
                <h4 class='version-one ra'>Intent:</h4>
                <h4 class='intent version-two'>INTENT:</h4>
            </div>
                <div class="version-one">
                    <div class="col-md-5 intent-textbox-1">
                        <p>Reduce greenhouse gases and air pollutant emissions by reducing energy consumption during construction.</p>
                        <a href={% static "details/control/RA2.2/index.html" %} target="_blank">More detail and guidance</a>
                    </div>
                </div>
                <div class="version-two">
                    <div class="col-md-5 intent-textbox-2">
                        <h5>Avoid breathing problems and air pollutant emissions by reducing energy consumption during construction.</h5>
                        <a href={% static "details/negative_goal_framing/RA2.2/index.html" %} target="_blank">More detail and guidance</a>
                    </div>
                </div>
                <div class="col-md-6">
                    {{ rating_form.RA2_2_exp |attr:"rows:4" }}
                    <br>Count: <span class="current-count" id="span-1">0</span> | Required: <span id="ra22" class="required-count">0</span>
                </div>
            </div>
        <div class='row'>
        <div class='col-md-6'></div>
            <p class='col-md-4 textbox2'>Over the project <b>life cycle</b> your recommendation will cost or save the owner money?</p>
            <h5 class="col-md-2">{{ rating_form.RA2_2_cost }}</h5>
        </div>
    </div>
</div>
{#STARTS RA3.1#}
<div class="container bigbox">
    <div class="row">
        <div class="col-md-1">
                <h5 class="ra">RA3.1:</h5>
        </div>
        <div class="version-one">
            <h4 class="col-md-5 ra-title">Preserve Water Resources
            </h4>
        </div>
        <div class="version-two">
            <h4 class="col-md-5 ra-title">Prevent Financial and Resource Waste by Preserving Water Resources
            </h4>
        </div>
        <div>
            <h5 class="col-md-2 left"> {{ rating_form.RA3_1_inc }}</h5>
            <h5 class="col-md-2 left"> {{ rating_form.RA3_1_loa }}</h5>
        </div>
            <div class="col-md-1 box-yellow">
                <h4 class="selected-points" id="ra31-selected-points">0</h4>
            </div>
            <div class="col-md-1 box-white">
                <h4 class="possible-points" id="ra31-possible-points">0</h4>
            </div>
        </div>
            <div class="row">
            <div class='col-md-1'>
                <h4 class='version-one ra'>Intent:</h4>
                <h4 class='intent version-two'>INTENT:</h4>
            </div>
                <div class="version-one">
                    <div class="col-md-5 intent-textbox-1">
                        <p>Assess and reduce the negative net impact on fresh water availability, quantity, and quality at a watershed scale to positively impact the region’s water resources.</p>
                        <a href={% static "details/control/RA3.1/index.html" %} target="_blank">More detail and guidance</a>
                    </div>
                </div>
                <div class="version-two">
                    <div class="col-md-5 intent-textbox-2">
                        <h5>Prevent large financial and resource waste by reducing the net impacts on fresh water availability, quantity, and quality at a watershed scale.</h5>
                        <a href={% static "details/negative_goal_framing/RA3.1/index.html" %} target="_blank">More detail and guidance</a>
                    </div>
                </div>
                <div class="col-md-6">
                    {{ rating_form.RA3_1_exp |attr:"rows:4" }}
                    <br>Count: <span class="current-count" id="span-1">0</span> | Required: <span id="ra31" class="required-count">0</span>
                </div>
            </div>
        <div class='row'>
        <div class='col-md-6'></div>
            <p class='col-md-4 textbox2'>Over the project <b>life cycle</b> your recommendation will cost or save the owner money?</p>
            <h5 class="col-md-2">{{ rating_form.RA3_1_cost }}</h5>
        </div>
    </div>
</div>
{#STARTS RA3.2#}
<div class="container bigbox">
    <div class="row">
        <div class="col-md-1">
                <h5 class="ra">RA3.2:</h5>
        </div>
        <div class="version-one">
            <h4 class="col-md-5 ra-title">Reduce Operational Water Consumption
            </h4>
        </div>
        <div class="version-two">
            <h4 class="col-md-5 ra-title">Reduce Cost Through Efficienct Operational Water Consumption
            </h4>
        </div>
        <div>
            <h5 class="col-md-2 left"> {{ rating_form.RA3_2_inc }}</h5>
            <h5 class="col-md-2 left"> {{ rating_form.RA3_2_loa }}</h5>
        </div>
            <div class="col-md-1 box-yellow">
                <h4 class="selected-points" id="ra32-selected-points">0</h4>
            </div>
            <div class="col-md-1 box-white">
                <h4 class="possible-points" id="ra32-possible-points">0</h4>
            </div>
        </div>
            <div class="row">
            <div class='col-md-1'>
                <h4 class='version-one ra'>Intent:</h4>
                <h4 class='intent version-two'>INTENT:</h4>
            </div>
                <div class="version-one">
                    <div class="col-md-5 intent-textbox-1">
                        <p>Reduce overall water consumption to meet water needs.</p>
                        <a href={% static "details/control/RA3.2/index.html" %} target="_blank">More detail and guidance</a>
                    </div>
                </div>
                <div class="version-two">
                    <div class="col-md-5 intent-textbox-2">
                        <h5>Reduce maintenance and labor costs by reducing overall water consumption over the project life.</h5>
                        <a href={% static "details/negative_goal_framing/RA3.2/index.html" %} target="_blank">More detail and guidance</a>
                    </div>
                </div>
                <div class="col-md-6">
                    {{ rating_form.RA3_2_exp |attr:"rows:4" }}
                    <br>Count: <span class="current-count" id="span-1">0</span> | Required: <span id="ra32" class="required-count">0</span>
                </div>
            </div>
        <div class='row'>
        <div class='col-md-6'></div>
            <p class='col-md-4 textbox2'>Over the project <b>life cycle</b> your recommendation will cost or save the owner money?</p>
            <h5 class="col-md-2">{{ rating_form.RA3_2_cost }}</h4>
        </div>
    </div>
</div>
{#STARTS RA3.3#}
<div class="container bigbox">
    <div class="row">
        <div class="col-md-1">
                <h5 class="ra">RA3.3:</h5>
        </div>
        <div class="version-one">
            <h4 class="col-md-5 ra-title">Reduce Construction Water Consumption
            </h4>
        </div>
        <div class="version-two">
            <h4 class="col-md-5 ra-title">Reduce Cost Through Efficienct Water Consumption During Construction
            </h4>
        </div>
        <div>
            <h5 class="col-md-2 left"> {{ rating_form.RA3_3_inc }}</h5>
            <h5 class="col-md-2 left"> {{ rating_form.RA3_3_loa }}</h5>
        </div>
            <div class="col-md-1 box-yellow">
                <h4 class="selected-points" id="ra33-selected-points">0</h4>
            </div>
            <div class="col-md-1 box-white">
                <h4 class="possible-points" id="ra33-possible-points">0</h4>
            </div>
        </div>
            <div class="row">
            <div class='col-md-1'>
                <h4 class='version-one ra'>Intent:</h4>
                <h4 class='intent version-two'>INTENT:</h4>
            </div>
                <div class="version-one">
                    <div class="col-md-5 intent-textbox-1">
                        <p>Reduce potable water consumption during construction.</p>
                        <a href={% static "details/control/RA3.3/index.html" %} target="_blank">More detail and guidance</a>
                    </div>
                </div>
                <div class="version-two">
                    <div class="col-md-5 intent-textbox-2">
                        <h5>Reduce construction costs by minimizing potable water consumption during construction.</h5>
                        <a href={% static "details/negative_goal_framing/RA3.3/index.html" %} target="_blank">More detail and guidance</a>
                    </div>
                </div>
                <div class="col-md-6">
                    {{ rating_form.RA3_3_exp |attr:"rows:4" }}
                    <br>Count: <span class="current-count" id="span-1">0</span> | Required: <span id="ra33" class="required-count">0</span>
                </div>
            </div>
        <div class='row'>
        <div class='col-md-6'></div>
            <p class='col-md-4 textbox2'>Over the project <b>life cycle</b> your recommendation will cost or save the owner money?</p>
            <h5 class="col-md-2">{{ rating_form.RA3_3_cost }}</h5>
        </div>
    </div>
</div>
{#BEGINS NATURAL WORLD#}
    <hr>
    <div class = "headerbox">
        <div class = "natural-world">
            <h3 class="category-title">Natural World</h3>
        </div>
    </div>
{#STARTS NW1.1#}
<div class="container bigbox">
    <div class="row">
        <div class="col-md-1">
                <h5 class="nw">NW1.1:</h5>
        </div>
        <div class="version-one">
            <h4 class="col-md-5 nw-title">Preserve Sites of High Ecological Value
            </h4>
        </div>
        <div class="version-two">
            <h4 class="col-md-5 nw-title">Prevent Lose of Value to Sites of High Ecological Importance
            </h4>
        </div>
        <div>
            <h5 class="col-md-2 left"> {{ rating_form.NW1_1_inc }}</h5>
            <h5 class="col-md-2 left"> {{ rating_form.NW1_1_loa }}</h5>
        </div>
            <div class="col-md-1 box-yellow">
                <h4 class="selected-points" id="nw11-selected-points">0</h4>
            </div>
            <div class="col-md-1 box-white">
                <h4 class="possible-points" id="nw11-possible-points">0</h4>
            </div>
        </div>
            <div class="row">
            <div class='col-md-1'>
                <h4 class='version-one nw'>Intent:</h4>
                <h4 class='intent-nw version-two'>INTENT:</h4>
            </div>
                <div class="version-one">
                    <div class="col-md-5 intent-textbox-1">
                        <p>Avoid placing the project and temporary works on a site that has been identified as being of high ecological value.</p>
                        <a href={% static "details/control/NW1.1/index.html" %} target="_blank">More detail and guidance</a>
                    </div>
                </div>
                <div class="version-two">
                    <div class="col-md-5 intent-textbox-2">
                        <h5>Prevent the loss of value to the community by avoiding the placement of projects and temporary works on a site that has been identified as being of high ecological value.</h5>
                        <a href={% static "details/negative_goal_framing/NW1.1/index.html" %} target="_blank">More detail and guidance</a>
                    </div>
                </div>
                <div class="col-md-6">
                    {{ rating_form.NW1_1_exp |attr:"rows:4" }}
                    <br>Count: <span class="current-count" id="span-1">0</span> | Required: <span id="nw11" class="required-count">0</span>
                </div>
            </div>
        <div class='row'>
        <div class='col-md-6'></div>
            <p class='col-md-4 textbox2'>Over the project <b>life cycle</b> your recommendation will cost or save the owner money?</p>
            <h5 class="col-md-2">{{ rating_form.NW1_1_cost }}</h5>
        </div>
    </div>
</div>
{#STARTS NW2.2#}
<div class="container bigbox">
    <div class="row">
        <div class="col-md-1">
                <h5 class="nw">NW2.2:</h5>
        </div>
        <div class="version-one">
            <h4 class="col-md-5 nw-title">Manage Storm-water
            </h4>
        </div>
        <div class="version-two">
            <h4 class="col-md-5 nw-title">Prevent Property Damage by Managing Storm-water
            </h4>
        </div>
        <div>
            <h5 class="col-md-2 left"> {{ rating_form.NW2_2_inc }}</h5>
            <h5 class="col-md-2 left"> {{ rating_form.NW2_2_loa }}</h5>
        </div>
            <div class="col-md-1 box-yellow">
                <h4 class="selected-points" id="nw22-selected-points">0</h4>
            </div>
            <div class="col-md-1 box-white">
                <h4 class="possible-points" id="nw22-possible-points">0</h4>
            </div>
        </div>
            <div class="row">
            <div class='col-md-1'>
                <h4 class='version-one nw'>Intent:</h4>
                <h4 class='intent-nw version-two'>INTENT:</h4>
            </div>
                <div class="version-one">
                    <div class="col-md-5 intent-textbox-1">
                        <p>Minimize the impact of development on storm-water runoff quantity, rate, and quality.</p>
                        <a href={% static "details/control/NW2.2/index.html" %} target="_blank">More detail and guidance</a>
                    </div>
                </div>
                <div class="version-two">
                    <div class="col-md-5 intent-textbox-2">
                        <h5>Prevent damage to property by minimizing the impact of development on storm-water runoff quantity, rate, and quality.</h5>
                        <a href={% static "details/negative_goal_framing/NW2.2/index.html" %} target="_blank">More detail and guidance</a>
                    </div>
                </div>
                <div class="col-md-6">
                    {{ rating_form.NW2_2_exp |attr:"rows:4" }}
                    <br>Count: <span class="current-count" id="span-1">0</span> | Required: <span id="nw22" class="required-count">0</span>
                </div>
            </div>
        <div class='row'>
        <div class='col-md-6'></div>
            <p class='col-md-4 textbox2'>Over the project <b>life cycle</b> your recommendation will cost or save the owner money?</p>
            <h5 class="col-md-2">{{ rating_form.NW2_2_cost }}</h5>
        </div>
    </div>
</div>
{#STARTS NW2.3#}
<div class="container bigbox">
    <div class="row">
        <div class="col-md-1">
                <h5 class="nw">NW2.3:</h5>
        </div>
        <div class="version-one">
            <h4 class="col-md-5 nw-title">Reduce Pesticide and Fertilizer Impacts
            </h4>
        </div>
        <div class="version-two">
            <h4 class="col-md-5 nw-title">Avoid Risks to Human Health by reducing the quantity, toxicity, bioavailability, and persistence of pesticides and fertilizers.
            </h4>
        </div>
        <div>
            <h5 class="col-md-2 left"> {{ rating_form.NW2_3_inc }}</h5>
            <h5 class="col-md-2 left"> {{ rating_form.NW2_3_loa }}</h5>
        </div>
            <div class="col-md-1 box-yellow">
                <h4 class="selected-points" id="nw23-selected-points">0</h4>
            </div>
            <div class="col-md-1 box-white">
                <h4 class="possible-points" id="nw23-possible-points">0</h4>
            </div>
        </div>
            <div class="row">
            <div class='col-md-1'>
                <h4 class='version-one nw'>Intent:</h4>
                <h4 class='intent-nw version-two'>INTENT:</h4>
            </div>
                <div class="version-one">
                    <div class="col-md-5 intent-textbox-1">
                        <p>Reduce non-point-source pollution by reducing the quantity, toxicity, bioavailability, and persistence of pesticides and fertilizers.</p>
                        <a href={% static "details/control/NW2.3/index.html" %} target="_blank">More detail and guidance</a>
                    </div>
                </div>
                <div class="version-two">
                    <div class="col-md-5 intent-textbox-2">
                        <h5>Avoid risks to human health by reducing the quantity, toxicity, bioavailability, and persistence of pesticides and fertilizers.</h5>
                        <a href={% static "details/negative_goal_framing/NW2.3/index.html" %} target="_blank">More detail and guidance</a>
                    </div>
                </div>
                <div class="col-md-6">
                    {{ rating_form.NW2_3_exp |attr:"rows:4" }}
                    <br>Count: <span class="current-count" id="span-1">0</span> | Required: <span id=nw23" class="required-count">0</span>
                  </div>
            </div>
        <div class='row'>
        <div class='col-md-6'></div>
            <p class='col-md-4 textbox2'>Over the project <b>life cycle</b> your recommendation will cost or save the owner money?</p>
            <h5 class="col-md-2">{{ rating_form.NW2_3_cost }}</h5>
        </div>
    </div>
</div>
{#STARTS NW2.4#}
<div class="container bigbox">
    <div class="row">
        <div class="col-md-1">
                <h5 class="nw">NW2.4:</h5>
        </div>
        <div class="version-one">
            <h4 class="col-md-5 nw-title">Protect Surface and Ground Water Quality
            </h4>
        </div>
        <div class="version-two">
            <h4 class="col-md-5 nw-title">Avoid Health Issues by Protecting Surface and Ground Water Quality
            </h4>
        </div>
        <div>
            <h5 class="col-md-2 left"> {{ rating_form.NW2_4_inc }}</h5>
            <h5 class="col-md-2 left"> {{ rating_form.NW2_4_loa }}</h5>
        </div>
            <div class="col-md-1 box-yellow">
                <h4 class="selected-points" id="nw24-selected-points">0</h4>
            </div>
            <div class="col-md-1 box-white">
                <h4 class="possible-points" id="nw24-possible-points">0</h4>
            </div>
        </div>
            <div class="row">
            <div class='col-md-1'>
                <h4 class='version-one nw'>Intent:</h4>
                <h4 class='intent-nw version-two'>INTENT:</h4>
                <!-- <p class='intent-nw version-two'>(make sure to read)</p> -->
            </div>
                <div class="version-one">
                    <div class="col-md-5 intent-textbox-1">
                        <p>Preserve water resources by incorporating measures to prevent pollutants from contaminating surface and groundwater and monitor impacts during construction and operations.</p>
                        <a href={% static "details/control/NW2.4/index.html" %} target="_blank">More detail and guidance</a>
                    </div>
                </div>
                <div class="version-two">
                    <div class="col-md-5 intent-textbox-2">
                        <h5>Avoid health issues from contact with contaminated water by preserving water resources and incorporating measures to prevent pollutants from contaminating surface and groundwater.</h5>
                        <a href={% static "details/negative_goal_framing/NW2.4/index.html" %} target="_blank">More detail and guidance</a>
                    </div>
                </div>
                <div class="col-md-6">
                    {{ rating_form.NW2_4_exp |attr:"rows:4" }}
                    <br>Count: <span class="current-count" id="span-1">0</span> | Required: <span id="nw24" class="required-count">0</span>
                </div>
            </div>
        <div class='row'>
        <div class='col-md-6'></div>
            <p class='col-md-4 textbox2'>Over the project <b>life cycle</b> your recommendation will cost or save the owner money?</p>
            <h5 class="col-md-2">{{ rating_form.NW2_4_cost }}</h5>
        </div>
    </div>
</div>
{#STARTS NW3.1#}
<div class="container bigbox">
    <div class="row">
        <div class="col-md-1">
                <h5 class="nw">NW3.1:</h5>
        </div>
        <div class="version-one">
            <h4 class="col-md-5 nw-title">Enhance Functional Terrestrial Habitats
            </h4>
        </div>
        <div class="version-two">
            <h4 class="col-md-5 nw-title">Avoid Loss of Value by Enhancing Functional Terrestrial Habitats
            </h4>
        </div>
        <div>
            <h5 class="col-md-2 left"> {{ rating_form.NW3_1_inc }}</h5>
            <h5 class="col-md-2 left"> {{ rating_form.NW3_1_loa }}</h5>
        </div>
            <div class="col-md-1 box-yellow">
                <h4 class="selected-points" id="nw31-selected-points">0</h4>
            </div>
            <div class="col-md-1 box-white">
                <h4 class="possible-points" id="nw31-possible-points">0</h4>
            </div>
        </div>
            <div class="row">
            <div class='col-md-1'>
                <h4 class='version-one nw'>Intent:</h4>
                <h4 class='intent-nw version-two'>INTENT:</h4>
            </div>
                <div class="version-one">
                    <div class="col-md-5 intent-textbox-1">
                        <p>Preserve and improve the functionality of the site and the surrounding natural habitat, and ensure at minimum a no net loss of habitat area and function.</p>
                        <a href={% static "details/control/NW3.1/index.html" %} target="_blank">More detail and guidance</a>
                    </div>
                </div>
                <div class="version-two">
                    <div class="col-md-5 intent-textbox-2">
                        <h5>Avoid the loss of value to the region by preserving and improving the functionality of the site and the surrounding natural habitat.</h5>
                        <a href={% static "details/negative_goal_framing/NW3.1/index.html" %} target="_blank">More detail and guidance</a>
                    </div>
                </div>
                <div class="col-md-6">
                    {{ rating_form.NW3_1_exp |attr:"rows:4" }}
                    <br>Count: <span class="current-count" id="span-1">0</span> | Required: <span id="nw31" class="required-count">0</span>
                </div>
            </div>
        <div class='row'>
        <div class='col-md-6'></div>
            <p class='col-md-4 textbox2'>Over the project <b>life cycle</b> your recommendation will cost or save the owner money?</p>
            <h5 class="col-md-2">{{ rating_form.NW3_1_cost }}</h5>
        </div>
    </div>
</div>
{#Risk and Resilience#}
    <hr>
    <div class = "headerbox">
        <div class = "climate">
            <h3 class="category-title">Risk and Resilience</h3>
        </div>
    </div>
{#STARTS RR1.1#}
<div class="container bigbox">
    <div class="row">
        <div class="col-md-1">
            <h5 class="cr">RR1.1:</h5>
        </div>
        <div class="version-one">
            <h4 class="col-md-5 cr-title">Reduce Greenhouse Gas Emissions</h4>
        </div>
        <div class="version-two">
            <h4 class="col-md-5 cr-title">Avoid Health Problems by Reducing Greenhouse Gas Emissions</h4>
        </div>
        <div>
            <h5 class="col-md-2 left"> {{ rating_form.RR1_1_inc }}</h5>
            <h5 class="col-md-2 left"> {{ rating_form.RR1_1_loa }}</h5>
        </div>
        <div class="col-md-1 box-yellow">
            <h4 class="selected-points" id="rr11-selected-points">0</h4>
        </div>
        <div class="col-md-1 box-white">
            <h4 class="possible-points" id="rr11-possible-points">0</h4>
        </div>
    </div>
    <div class="row">
        <div class='col-md-1'>
            <h4 class='version-one cr'>Intent:</h4>
            <h4 class='intent-cr version-two'>INTENT:</h4>
        </div>
        <div class="version-one">
            <div class="col-md-5 intent-textbox-1">
                <p>Reduce greenhouse gas emissions during the operation of the project, reducing project contribution to climate change.</p>
                <a href={% static "details/control/RR1.1/index.html" %} target="_blank">More detail and guidance</a>
            </div>
        </div>
        <div class="version-two">
            <div class="col-md-5 intent-textbox-2">
                <h5>Reduce health problems casued by particulate matter in greenhouse gas emissions produced during the operation of the project.</h5>
                <a href={% static "details/negative_goal_framing/RR1.1/index.html" %} target="_blank">More detail and guidance</a>
            </div>
        </div>
        <div class="col-md-6">
            {{ rating_form.RR1_1_exp |attr:"rows:4" }}
            <br>Count: <span class="current-count" id="span-1">0</span> | Required: <span id="rr11" class="required-count">0</span>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-6'></div>
            <p class='col-md-4 textbox2'>Over the project <b>life cycle</b> your recommendation will cost or save the owner money?</p>
            <h5 class="col-md-2">{{ rating_form.RR1_1_cost }}</h5>
        </div>
    </div>
</div>
{{ rating_form.total_time }}
    <div align= "center"><br>
        <button type="button" class="submit btn btn-primary" style="width: 100px; height: 40px; font-size: 20px;">
            Submit
        </button>
    </div>
</form>
<div class="data">
    {{ engineer.version }}
</div>
</body>
</html>
