.hide_popup {
    display: none;
}
#modal {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    height: 100%;
    width: 100%;
}
.modalcontent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 80%;
    padding: 20px;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.jumbo-green{
    background-color: #4cae4c;
    /*max-width:100%;*/
    /*overflow-x: scroll;*/
    margin-top: 3em;
}
.paddin1{
    padding-left: 2em;
    padding-right: 2em;
}
.paddin2{
    padding-left: 6em;
    padding-right: 6em;
}
.paddin3{
    padding-left: 4em;
    padding-right: 4em;
}
.paddin4{
    padding-left: 7em;
    padding-right: 7em;
    padding-bottom: 1em;
}
.paddin5{
    padding-left: 4.5em;
    padding-right: 5em;
}
.jumbo-clear {
    background-color: green;
    padding-bottom: -3em;
}
.vid-center{
    padding-left: 10em;
}
.south-box {
    margin-top: 5em;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5em;
}
.disclosure-top-box {
    margin-top: 5em;
    width: 80%;
    margin-right: 5em;
    margin-left: 9em;
    margin-bottom: 5em;
    border: 1em solid red;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    display: none;
}
.standout{
    color: black;
}
img {
    width: 100%;
    float: left;
}
#south_la_park {
    width: 50%;
    float: left;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
}
#image-description {
    width: 50%;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    float: right;
    font-size: 1.25em;
}

#title {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.front-image-desc {
    margin-top: 2.5em;
    margin-bottom: 3em;
    font-size: 1.5em;
    float: right;
}

.column-titles {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #E7E7E7;
    background: #F8F8F8;
    padding-left: 95px;
    text-align: center;
    color: #777;
}

.headerbox {
    /*border-radius: 5px;*/
    /*border-style: solid;*/
    /*border-width: 1px;*/
    /*border-color: lightgrey;*/
    /*padding-left: 95px;*/
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    clear: both
}

.bigbox {
    /*border-radius: 5px;*/
    border-style: solid;
    /*border-width: 1px;*/
    border-color: #E7E7E7;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
}


.box {
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    padding: 0.5%;
    border-color: lightgrey;
}
.box-example-ra {
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(139,69,19, 0.8);
    background-color: white;
}
.box-example-ld {
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    background-color: white;
}
.box-example-nw {
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: olive;
    background-color: white;
}
.box-example-cr {
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: cadetblue;
    background-color: white;
}
.title-textbox {
    border-radius: 3px;
    border-style: solid;
    border-width: 0px;
    /*border-color: rgba(229, 103, 23, 0.8);*/
    /*padding-top: 0px;*/
    /*padding-top: 10px;*/
}
.intent-textbox-1 {
    border-radius: 3px;
    border-style: solid;
    border-width: 0px;
    /*border-color: rgba(229, 103, 23, 0.8);*/
}
.intent-textbox-2 {
    border-radius: 3px;
    border-style: solid;
    border-width: 0px;
    /*border-color: rgba(229, 103, 23, 0.8);*/
    /* background-color: #FFFF99; */
}
.textbox2 {
    border-radius: 3px;
    border-style: solid;
    border-width: 0px;
    /*border-color: rgba(229, 103, 23, 0.8);*/
    background-color: #F8F8F8;
    padding-top: 5px;
    padding-top: 10px;
}
.box-white {
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #E7E7E7;
    background-color: white;
    text-align: center;
}
.box-yellow {
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #E7E7E7;
    background-color: #FFFF99;
    text-align: center;
}
.cost{
    margin-left: 5px;
}
.resource {
    height: 4em;
    margin-top: 5em;
    background-color: rgba(139,69,19, 0.8);
    border-radius: 3px;
}
.ra {
    color: rgba(139,69,19, 0.8);
    padding-left: 0.5em;
    text-align: right;
}
.ra-title {
    color: rgba(139,69,19, 0.8);
    /*padding-left: 0.5em;*/
    /*padding-top: 1em;*/
    text-align: left;
    /*background-color: #F8F8F8;*/
}
.intent {
    color: rgba(139,69,19, 0.8);
    text-align: right;
}
.left {
    text-align: left;
}
.category-title {
   line-height: 2.5em;
}
.leadership {
    height: 4em;
    background-color: gray;
    border-radius: 3px;
}

.ld {
    color: gray;
}
.climate {
    height: 4em;
    background-color: cadetblue;
    border-radius: 3px;
}
.cr {
    color: cadetblue;
    padding-left: 0.5em;
}
.cr-title {
    color: cadetblue;
    /*padding-left: 0.5em;*/
    /*padding-top: 1em;*/
    text-align: left;
    /*background-color: #F8F8F8;*/
}
.intent-cr {
    color: cadetblue;
    text-align: right;
}
.natural-world {
    height: 4em;
    background-color: darkolivegreen;
    border-radius: 3px;
}
.nw {
    color: darkolivegreen;
    padding-left: 0.5em;
}
.nw-title {
    color: darkolivegreen;
    /*padding-left: 0.5em;*/
    /*padding-top: 1em;*/
    text-align: left;
    /*background-color: #F8F8F8;*/
}
.intent-nw {
    color: darkolivegreen;
    text-align: right;
}

.credits-ra {
    background-color: rgba(139,69,19, 0.8);
    border-radius: 3px;
}

.version-one{
    display: none;
}

.version-two{
    display: none;
}

.hidden{
    visibility: hidden;
}

.data{
    visibility: hidden;
}

.error{
    border: solid;
    border-width: 3px;
    border-color: red;
    box-shadow: 2px 2px 2px red;

}
.intent-standout{
    background-color: yellow;
}
textarea {
    width: 100%;
}

/*textarea {*/
    /*width: 50px;*/
    /*height: 50px;*/
/*}*/
